<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
<center>
	<form action="/signup_action" id="textform" method="post">
	    
	    <input type="text" name="username" placeholder="Enter Username">
	    <input type="text" name="password">
	    <input type="submit" value="Post">
	</form>
	</center>

	<center>
		<form action="/login_action" id="textform" method="post">
	    
	    <input type="text" name="username" placeholder="Enter Username">
	    <input type="text" name="password">
	    <input type="submit" value="Post">
	</form>
	</center>

</body>
</html>